a.thumnail:hover {text-decoration: none; color: red;}

.table-row {
    margin: 0 -15px;
}

.table {
    margin-bottom: 0;
}

#keo {
    overflow: hidden;
}

/* .table thead th {
    position: sticky;
    top: 0;
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    background-color: #fff;
    box-shadow: 0 0 black, inset 0 2px 0, 0 1px 0;
}
.multiple {
    position: relative;
}

.header-table {
    width: calc(100% - 17px);
    position: absolute;
    top: 0;
} */